# Django settings
DEBUG=true
DJANGO_SECRET_KEY="django-insecure-h4))t$z4by2*)huidl)nrn33@)wj8^plbx586=1hduvjm(7z69"

DJANGO_LOGIN_URL="authentication-login-dummy"
FRONTEND_URL="http://localhost:8000/"

# django database and docker postgres container
DB_NAME=thingbooker
DB_USER=thingbooker
DB_PASSWORD=kohS8mah
DB_HOST=127.0.0.1
DB_PORT=5432
